@tailwind components;

@layer components {
    .wrapper {
        @apply p-[15px] border-solid border border-borderColor;
    }

    .thumbnail {
        @apply relative mb-5 cursor-pointer select-none;
    }

    .type {
        @apply text-[10px] font-semibold text-center text-white uppercase block;

        &::after {
            @apply absolute top-0 -left-[10px] w-0 h-0 border-r-[10px] border-solid;

            border-top: 13px solid transparent;
            border-bottom: 12px solid transparent;
        }

        &::before {
            @apply absolute top-1/2 left-0 -translate-y-1/2 w-[6px] h-[6px] bg-white rounded-full;
            content: '';
        }
    }

    .title {
        @apply mb-[6px] capitalize overflow-hidden select-none;

        a {
            @apply text-[#2b3743] font-normal hover:text-primary cursor-pointer;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1; /* Số dòng hiển thị */
        }
    }

    .rating-star {
        @apply mb-[10px];
    }

    .money {
        @apply text-[#333] font-normal select-none;
    }
}
